@font-face {
  font-family: "space_punk";
  src: url("./fonts/space-punk.italic.ttf") format("truetype");
}
@font-face {
  font-family: Monument;
  src: url("./fonts/MonumentExtended-Regular.otf") format("opentype");
}
@font-face {
  font-family: DM Sans;
  src: url("./fonts/DMSans-Regular.ttf") format("truetype");
}
/*utils*/
html {
  background: #f5f5f5;
}
a {
  font-family: "Monument Extended";
}
.separator {
  width: 100%;
  height: 1px;
  background: #000;
}
.footer {
}

/*index.html*/
#welcome_header {
  width: 80%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
}
#my_name {
  color: var(--Color-1, #000);
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 19.8px */
}
#main_title {
  color: var(--Color-1, #000);
  font-family: Monument Extended;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 108px */
  text-transform: uppercase;
}
#arrow {
  width: 63px;
  height: 79px;
  flex-shrink: 0;
}

/* About.html*/
.about_container {
  width: 100%;
  color: var(--Color-1, #fff);
}
.title {
  width: 65rem;
  color: var(--Color-1, #000);
  font-family: "Monument Extended";
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
}
.circle {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: hidden;
  width: 75.875rem;
  height: 75.875rem;
  border-radius: 75.875rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 6vh;
}
.name {
  font-family: "Monument Extended";
  font-size: 10rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 10.125rem */
  text-transform: uppercase;
}
.about_content {
  display: flex;
  width: 58.5rem;
  padding: 0rem 2.375rem 0.6875rem 2.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9375rem;
}
.content {
  width: 40rem;
  font-family: DM Sans;
  justify-self: auto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
}

.contact_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  margin-left: 40%;
}
.contact_me .text {
  color: var(--Color-1, #fff);
  font-family: Monument Extended;
  font-size: 2rem;
  font-style: normal;
}
.logo_container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 5vh;
}

.logo_container a {
  width: 20%;
  height: auto;
}

/* xp.html*/
.xp {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 5vh;
}

.academics {
  display: inline-flex;
  flex-direction: column;
}

.xp label {
  margin-left: 2vh;
  margin-right: 5vh;
  font-family: "Monument Extended";
  font-size: 6rem;
  overflow: auto;
  width: fit-content; /* Add this line to make the width fit the content */
}
.academics .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

content {
  display: flex;
  flex-direction: column;
  gap: 6vh;
  margin-top: 1vh;
  font-family: DM Sans;
}
.frame {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  flex-grow: 1;
  box-sizing: border-box;
}
.left_frame {
  display: flex;
  width: 30%;
  flex-direction: row;
}
.number {
  font-family: "Monument Extended";
  font-size: 3rem;
  transform: rotate(-90deg);
  /* Add this line to make the width fit the content */
}

.job_title {
  font-family: Monument Extended;
}
.key_words {
  display: flex;
  flex-direction: column;
}

.right_frame {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.job {
  justify-content: left;
}
